name: golangci-lint on Linux

on:
  push:
    paths-ignore:
      - "*.md"

permissions:
  contents: read

jobs:
  golangci:
    name: Lint Golang
    runs-on: ubuntu-latest

    steps:
      - name: Library dependencies
        run: sudo apt-get install libmpv-dev libglx-dev libgl-dev
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.60.3
